.feinman__title {
    position: relative;
    max-width: 648px;
    text-align: center;
    margin: 0px auto 0px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 2;
  }