.section-title {
    position: relative;
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    z-index: 2;
  }