.cards__item {
    width: 240px;
    padding-top: 60px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__item:nth-last-of-type(3n) {
    margin-right: 0px;
}