.table {
    list-style-type: none;
    width: 1100px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }