.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color:  #f2f2f2;
 
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 1;
 }

 .header__title {
  width: 730px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
 }

 .header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
 }

 .header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  width: 568px;
  height: 568px;
  right: 0px;
  top: 64px;
  background-color:  #2f80ed;
 
}

.description{
  margin-top: 100px;
}

.two-columns {
  width: 80%; 
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  color:  #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0px;
}

.two-columns__main-text {
  width: 80%; 
  min-width: 784px;
}


.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

.two-columns__main-text :last-child {
  margin-bottom: 0px;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold; 
}

.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  list-style-type: none;
  width: 1100px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
}

.table__heading {
  padding-top: 60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  height: 790px;
  position: relative;
  background-color:  #f2f2f2;
 
}

.feinman__title {
  position: relative;
  width: 648px;
  text-align: center;
  padding-top: 100px;
  margin: 0px auto 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feinman__subtitle {
  width: 400px;
  text-align: center;
  margin: 70px auto 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}


.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: black;
 
}

.feinman__image {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
z-index: 1;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color:  #1f1f1f;
 
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;

}

.table__heading_theme_dark {
  color: white;
  padding-top: 80px;

}

.table__text_theme_dark {
  color: white;
}


.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}

.footer {
  background-color:  #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height:  350px;
  display: flex;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 0px;
  list-style-type: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}


.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-self: center;
}

